<tr>
<td><%= product.id %></td>
<td><%= link_to product.name, admin_product_path(product) %></td>
<td><%= link_to "Manage", admin_product_path(product) %><td>
<td><%= product.active ? "Active" : "Inactive" %></td>
<td><%= link_to 'Destroy', [:admin, product], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>