<div id='product_tab_labels'><a href='#?tab=general'><span id='general_span' class='product_tab_label active'>General</span></a> | <a href='#?tab=options'><span id='options_span' class='product_tab_label'>Options</span></a> | <a href='#?tab=images'><span id='images_span' class='product_tab_label'>Images</span></a></div>
<%= render :partial => "layouts/flash_bar" %>
<div id="general" class='product_tab'>
	<p> 
		<b>Title:</b> 
		<%= @product.name %> 
	</p> 
	<p> 
		<b>Description:</b> 
		<%= @product.description %> 
	</p> 
	<p> 
		<b>Weight:</b> 
		<%= @product.weight %> 
	</p> 
	<p> 
		<b>Product ID:</b> 
		<%= @product.inventory_id %> 
	</p>
	<p> 
		<b>Active Status:</b> 
		<%= @product.active ? "Active" : "Inactive" %> 
	</p>
	<h4>Product Attributes</h4>
	<div id='product_attributes'>
		<%= render :partial => 'product_attribute', :collection => @product.product_attributes %>
	</div>
	<h3>Add new attribute:</h3>
	<div id='product_attribute_errors'><%= error_messages_for(:product_attribute) %></div>
	<% form_for [:admin, @product, @product.product_attributes.new], :html => {:id => "product_attribute_ajax_form"} do |f| %>
		Name:<%= f.text_field :name %>
		<%= f.submit "Save" %>
	<% end %>

	<%= link_to 'Edit', edit_admin_product_path(@product) %> | 
	<%= link_to 'Back', admin_products_path %>
</div>

<div id="options" style='display: none;' class='product_tab'>

	<h4>Product Variations</h4>
	<table>
		<thead>
			<% @product.product_attributes.each do |attribute| %>
				<th>
					<%= attribute.name %>
				</th>
			<% end %>
			<th>Quantity</th>
		</thead>
		<tbody id='product_options'>
			<%= render :partial => 'product_option', :collection => @product.product_options %>
		</tbody>
	</table>
	<h3>Add new variation:</h3>
	<div id='product_option_errors'><%= error_messages_for(:product_option) %></div>
	<% form_for [:admin, @product, @product.product_options.new], :html => {:id => "product_option_ajax_form"}  do |f| %>
		<% @product.product_attributes.each do |a| %>
			<% fields_for "product_option[product_attribute][#{a.id}]",a.product_attribute_values.new do |o| %>
				<%= a.name %>: <%= o.text_field :name %>
			<% end %>
		<% end %>
		Quantity: <%= f.text_field :quantity %>
		<%= f.submit "Save" %>
	<% end %>
</div>

<div id="images" style='display: none;' class='product_tab'>
	<%= "There are no images for this product, upload one now!" if @product.product_images.blank? %>	
	<table>
	<%= render :partial => 'product_image', :collection => @product.product_images %>
	</table><br /><br />
	<% form_for [:admin, @product, @product.product_images.new], :html => { :multipart => true } do |f| %>
		Image: <%= f.file_field :uploaded_data %><br/><br />
		Description: <%= f.text_field :name %><br /><br />
		<%= f.submit "Upload Image" %>
	<% end %>
</div>
