<div id='product_tab_labels'><a href='#?tab=general'><span id='general_span' class='product_tab_label active'>General</span></a> | <a href='#?tab=options'><span id='options_span' class='product_tab_label'>Options</span></a> | <a href='#?tab=images'><span id='images_span' class='product_tab_label'>Images</span></a></div>
<%= render :partial => "layouts/flash_bar" %>
<div id="general" class='product_tab'>
	<p> 
		<b>Title:</b> 
		<%= @product.name %> 
	</p> 
	<p> 
		<b>Description:</b> 
		<%= @product.description %> 
	</p> 
	<p> 
		<b>Weight:</b> 
		<%= @product.weight %> 
	</p> 
	<p> 
		<b>Product ID:</b> 
		<%= @product.inventory_id %> 
	</p>
	<p> 
		<b>Active Status:</b> 
		<%= @product.active ? "Active" : "Inactive" %> 
	</p>

	<%= link_to 'Edit', edit_admin_product_path(@product) %> | 
	<%= link_to 'Back', admin_products_path %>
</div>

<div id="options" style='display: none;' class='product_tab'>
	
</div>

<div id="images" style='display: none;' class='product_tab'>
	<%= "There are no images for this product, upload one now!" if @product.product_images.blank? %>	
	<table>
	<%= render :partial => 'product_image', :collection => @product.product_images %>
	</table><br /><br />
	<% form_for [:admin, @product, @product.product_images.new], :html => { :multipart => true } do |f| %>
		Image: <%= f.file_field :uploaded_data %><br/><br />
		Description: <%= f.text_field :name %><br /><br />
		<%= f.submit "Upload Image" %>
	<% end %>
</div>
