<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p><%= @product.weight %></p>
<table>
	<thead>
		<% @product.product_attributes.each do |attribute| %>
			<th>
				<%= attribute.name %>
			</th>
		<% end %>
	</thead>
	<tbody>
		<% @product.in_stock_options.each do |option| %>
			<tr>
			<% option.product_attribute_values.each do |value| %>
				<td><%= value.name %></td>
			<% end %>
			</tr>
		<% end %>
	</tbody>
</table>