<html>
	<head>
		<title>Admin</title>
		<%= javascript_include_tag 'jquery', 'admin' %>
		<%= stylesheet_link_tag 'admin' %>
	</head>
	<body>		
	<div class="box">
		<div id="tabMenu">	
			<span class="Orders"><%= link_to "Orders", admin_orders_path %></span> | <span class="Products"><%= link_to "Products", admin_products_path %></span> | <span class="Configuration"><%= link_to "Configuration", admin_configurations_path %></span>
		</div>

	</div>
		
		<%= yield %>
	</body>
<html>